a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-size:larger;
}
p{font-family: Helvetica, sans-serif;
}
body{
    color: white;
    background-image:url("website_background.png");
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    margin: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Helvetica, sans-serif;
}
.banner{
    background-color: black;
    display:flex;
    height: 15%;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: rgb(0, 0, 0);
    height:95%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  
.image1{
    display: flex;
    width: 100%;
}
.main{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
/* .wrapper{
    display: flex;
    background-color: teal;
    width: 90%;
    border: 5px #FFFF00;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; */
/* } */

.wrapper {
    padding-top: 250px;
    display: flex;
}
.column {
    width: 40%;
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin: auto;
}
.group {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align:justify;
}
.groupdisc {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align:center;
}
.group_image {
    width: 100%;
}